<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="err:${listErr}" th:text="${err.getDefaultMessage()}"></div>
<form action="/products/save" method="post">
    <input type="text" name="name"><br>
    <input type="number" name="price"><br>
    <select th:field="${item.category.id}">Category
        <option th:each="category:${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <button>Add</button>
</form>
</body>
</html>